@import url('https://fonts.googleapis.com/css2?family=Charm&family=IBM+Plex+Sans:ital,wght@1,100&family=Jost:wght@300&family=Montserrat:wght@200&family=Noto+Sans:wght@600&family=Noto+Serif+Thai:wght@600&family=Nunito:wght@600&family=Source+Sans+3:ital,wght@0,400;0,700;1,600&family=Tektur:wght@400;500&family=Ubuntu:wght@500&family=Work+Sans&display=swap');
body{
    background: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url('../assets/img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.text_title{
    font-size: 32px;
font-family: 'Noto Serif Thai', serif;

}
button a{
    font-family: 'Noto Serif Thai', serif;
    color: azure;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  
}
button{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
a:hover{
    color: azure;
}